.header {
  display: flex;
  width: 100%;
  height: 70px;
  background-color: cadetblue;
  align-items: center;

  .logo {
    display: flex;
    flex: 1;
    margin-left: 3%;
    a {
      text-decoration: none;
      font-size: 24px;
      color: black;
    }
  }
  .search {
    flex: 2;
    .search_input {
      font-size: 20px;
      float: right;
    }
  }
  .login {
    flex: 1;
    margin-right: 3%;
    a {
      text-decoration: none;
      font-size: 18px;
      float: right;
    }
  }
}